@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&family=Ubuntu&display=swap');
body {
	background-color: #FFFFEF;
}

#Name {
	padding: 0px 0px 20px 450px;
	border: black;
	border-style: groove ;
	border-width: 5px;
	height: auto;
	width: auto;
	font: 1.1em "Roboto Condensed", serif;
	margin: 1em 2em;
}

#group {
	padding: 0px 0px 0px 89px;
}

#myhobbies {
	padding: 0px 0px 0px 30px;
}

#hobbies {
	padding: 0px 0px 20px 450px;
	border: red;
	border-style: dashed;
	border-width: 5px;
	height: auto;
	width: auto;
	font: 1.1em "Montserrat", serif;
	margin: 1em 2em;
}

#table {
	padding: 0px 0px 0px 160px;
}

#timetable {
	padding: 0px 0px 20px 350px;
	border: blue;
	border-style: dotted;
	border-width: 5px;
	height: auto;
	width: auto;
	font: 1.1em "Ubuntu", serif;
	margin: 1em 2em;
}